.Search {
}

.container {

}

.navigation {
    text-align: center;
    margin-bottom: 3rem;
}

.navigation > :not(:last-child) {
    margin-right: 3rem;
}

.link {
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    transition: all .1s ease-in-out;
}
.link:hover {
    color: rgba(255, 255, 255, 0.7);
}
/*.link a {*/
/*    list-style: none;*/
/*}*/

.linkActive {

}

.form {
    width: 100%;
    display: flex;
    align-items: center;
    height: 6.6rem;
    background: rgba(247, 247, 247, 1);
    border-radius: 3.3rem;
    border: 1px solid rgba(0, 0, 0, 0.18);
    position: relative;
}

.but {
    padding: 0 1rem
}

.but svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: white;
}

.sep {
    align-self: center;
    border-right: 1px solid #DDDDDD;
    -webkit-flex: 0 1 0;
    flex: 0 0 0;
    height: 3.2rem;
}

.fieldBlock {
    /*flex: 1 1;*/
    height: 100%;
    position: relative;
}

.field {
    position: relative;
    height: 100%;
    /*overflow: hidden;*/
    /*width: 100%;*/
}

.button {
    cursor: pointer;
    /*width: 100%;*/
    font-family: inherit;
    position: relative;
    border: none;
    outline: none;
    text-align: left;
    border-radius: 3.3rem;
    padding: 0 2.4rem;
    height: 100%;
    background: transparent;
    z-index: 1;
}

.button:before {
    content: '';
    width: calc(100% + 4px);
    height: 100%;
    top: 0;
    left: -2px;
    position: absolute;
    background: rgb(247, 247, 247);
    display: none;
    z-index: -1;
}

.button:after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, .05);
    opacity: 0;
    border-radius: 3.3rem;
    z-index: -1;
}

.button:hover:before {
    display: block;
}
.button:hover:after {
    opacity: 1;
}

/*.buttonActive {*/

/*}*/
/*.buttonActive:after {*/
/*    background: white;*/
/*    transition: all .1s ease-in-out;*/
/*    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);*/
/*}*/

.buttonBox__title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.04em;
    padding-bottom: 3px;
    color: rgba(0, 0, 0, 0.76);
    z-index: 1;
}
.buttonBox__selection {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #717171;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    z-index: 1;
}

.label {
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.4rem;
    border-radius: 3.3rem;
    background: transparent;
    top: 0;
    left: 0;
}

.label:before {
    content: '';
    width: calc(100% + 4px);
    height: 100%;
    border-radius: 3.3rem 0 0 3.3rem;
    top: 0;
    left: 0;
    position: absolute;
    background: rgb(247, 247, 247);
    display: none;
}

.label:after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, .05);
    opacity: 0;
    border-radius: 3.3rem;
}

.label:hover:before {
    display: block;
}
.label:hover:after {
    opacity: 1;
}


.input {
    font-family: inherit;
    background: transparent;
    outline: none;
    color: rgba(0, 0, 0, 0.74);
    border: none;
    font-size: 1.4rem;
    z-index: 1;
}
