.Become {
    margin: 2rem 0;
}

.Become__title {

}

.Become__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Become__left {

}

.Become__proposition {

}

.Become__button {

}

.Become__right {

}