/**
* Shows how you can use CSS to style your Element's container.
* These classes are added to your Stripe Element by default.
* You can override these classNames by using the options passed
* to the CardElement component.
* https://stripe.com/docs/js/elements_object/create_element?type=card#elements_create-options-classes
*/
.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.entoursPay {
    font-size: 2rem;
    color: #3db062;
    padding-right: 1rem;
}
.name {
    font-size: 1.2rem;
    padding-left: 1rem;
    border-left: 1px solid rgba(0, 0, 0, 0.14);
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.card {
    width: 100%;
    height: 4.2rem;
    /*background: rgba(0, 0, 0, 0.08);*/
}

.StripeElement {
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: .4rem;
    color: rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.07);
    transition: box-shadow 150ms ease;
    -webkit-transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}