.entoursMethod {
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    padding: 1rem 1rem 0 1rem;
}

.payButton {
    margin: 2rem auto;
    width: 20rem;
    padding-bottom: 0;
}

.payButton :last-child {
    padding: 0;
    border: none;
    box-shadow: none;
}

.entoursPayFrame:active,
.entoursPayFrame:focus {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);
}

.entoursPay {
    cursor: pointer;
    height: 3.8rem;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    background: #4fc877;
    margin-bottom: 1rem;
    position: relative;
}

.entoursPay:disabled {
    background: #98ae9f;
}

.applePayLoading {
    background: #464646;
}

.pay {
    font-size: 2rem;
    font-weight: 600;
}

.payIcon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .4rem;
    margin-top: .2rem;
}

.otherMethods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paymentError {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    padding: .6rem 1rem;
    /*border: 1px solid rgb(239, 208, 208);*/
    border-radius: 1.5rem;
    background: rgba(236, 182, 199, 0.2);
    color: rgba(93, 17, 43, 0.96);
}

.paymentResult {
    background: rgba(182, 236, 206, 0.2);
    color: rgba(17, 93, 58, 0.96);
}

.paymentMessage {

}