.startingDates {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dateBlock {
    padding: 1.6rem 2rem;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 0 1.4rem rgba(0, 0, 0, 0.12);
    max-width: 16.6rem;
    position: relative;
}

.addButton {
    cursor: pointer;
    padding: 1.6rem 2.2rem;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;
}

.addButton:hover,
.addButton:active {
    background: rgba(0, 0, 0, 0.08);
}

.addButton span {
    margin-left: 1rem;
}

.dateTop {

}

.dateTop h2 {
    font-weight: 500;
}

.main {
    width: 100%;
    position: relative;
}

.startList {
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.8);
}

.startItem {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0;
    align-items: center;
}

.startState {
}

.startItem h2 {
    font-weight: 400;
    font-size: 1.5rem;
}

.startItem p {
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.6);
}

.startMain {
    margin-left: 1rem;
    flex: 1;
}

.removeButton {
    cursor: pointer;
    padding-top: .2rem;
    border: none;
    outline: none;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    background: transparent;
    transition: all .1s;
}

.removeButton:hover,
.removeButton:active {
    background: rgba(0, 0, 0, 0.05);
}


.removeIcon {
    width: 1.8rem;
    height: 1.8rem;
    fill: rgba(0, 0, 0, 0.6);
}