.CalendarDay {
    border: none;
}

.CalendarDay:hover,
.CalendarDay:active {
    border: none;
    border-radius: .3rem;
}

.CalendarDay__selected_span {
   background: #82e0aa;
   color: white;
   border: 1px solid red;
}

.CalendarDay__selected {
   border-radius: .3rem;
   background: #3db062;
   color: white;
}

.CalendarDay__selected:hover {
    cursor: default;
   background: #3db062;
   color: white;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
   background: brown;
}