.TourDescription {
    margin: -.3rem auto 0 auto;
    color: rgba(0, 0, 0, 0.8);
}

.content {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}


.left {
    padding: 2rem;
    flex: 0 0 50%;
}

.left h2 {
    font-size: 2rem;
    padding: 2rem;
}

.users a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.81);
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    transition: all .2s;
}

.user:hover,
.user:visited,
.user:active {
    color: rgba(0, 0, 0, 0.6);
}

.user:hover img,
.user:visited img,
.user:active img {
    filter: brightness(1.1);
}


.user img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    transition: all .2s;
    /*border: 2px solid rgba(0, 0, 0, 0.08);*/
}

.user h3 {
    font-size: 1.5rem;
    margin-left: 5px;
    font-weight: 500;
    flex: 1 1 0
}

.user p {
    opacity: .7;
    font-size: 1.4rem;
    margin-left: 5px;
    padding: 1rem;
}

.right {
    padding: 2rem;
    flex: 0 0 50%;
    background: linear-gradient(to right, #f3f3f3, #ffffff);
}


@media (min-width: 744px) {
    .content {
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
    }
}

.right h2 {
    font-size: 2rem;
    padding: 2rem 2rem 0 2rem;
}

.right h3 {
    font-weight: 500;
    font-size: 1.4rem;
    padding: 0 2rem 0 2rem;
}

.right p {
    opacity: .7;
    font-size: 1.5rem;
    margin-left: 5px;
    padding: 1rem;
}