@media (min-width: 744px) {
    .main {
        margin: 0 auto;
        width: 60rem;
    }
}

.button {
    margin-top: 2rem;
}

.uploadForm {
    max-width: 60rem;
    margin: 0 auto
}

.uploadForm > :not(:last-child) {
    margin-bottom: 1rem;
}