.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.cancelBlock {

}

.cancelBlock h2 {
    font-size: 1.8rem;
    margin-bottom: .8rem;
}

.cancelText {
    font-size: 1.5rem;
}

.cancelPolicy {
    margin-top: 2rem;
    font-size: 1.5rem;
    padding-left: 1rem;
    border-left: 2px solid #4fc877;
}

.wait {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.8rem;
}

@media (min-width: 744px) {
    .cancelBlock h2 {
        font-size: 1.6rem;
    }

    .cancelText {
        font-size: 1.3rem;
    }

    .cancelPolicy {
        font-size: 1.3rem;
    }

    .wait {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 744px) and (max-width: 1127px){
    .content :nth-child(even) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1128px) {
    .content :nth-child(3n) {
        margin-right: 0;
    }
}