.Saved {
    color: rgba(0, 0, 0, 0.8);
    margin-top: 2rem;
}

.Saved a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.Saved__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.Saved__item {
    flex: 0 0 100%;
    margin-bottom: 2rem;
    background: transparent;
    border-radius: 8px;
    position: relative;
    transition: all .2s;
}

.Saved__item:active {
    transform: scale(.96);
}

.Saved__name {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}


.Saved__imageFrame {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    /*-webkit-mask-image: -webkit-radial-gradient(center, white, black);*/
}

.Saved__box1 {
    height: 100%;
    overflow: hidden;
    position: relative;
    flex: 0 0 64%;
    margin-right: 4px;
}

.Saved__box2 {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
}

.Saved__box2c1 {
    overflow: hidden;
    position: relative;
    margin-bottom: 4px;
    flex-basis: 50%;
}

.Saved__box2c2 {
    flex-basis: 50%;
    overflow: hidden;
    position: relative;
}


.Saved__image {
    /*backface-visibility: hidden;*/
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.Saved__info {
    border-radius: 0 0 18px 18px;
    padding: 1rem 0 0 0;
}

.Saved__infoAbove {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Saved__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Saved__rating {
    font-size: 1rem;
}

.Saved__infoPart {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}

.Saved__title {
    font-size: 1.8rem;
}

.Saved__infoBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.Saved__infoBottom :last-child {
    font-size: 1.3rem;
}

.Saved__remove {
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: rgba(0, 0, 0, 0.6);
    padding: .7rem .7rem .4rem .7rem;
    border-radius: 5px;
    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.14);*/
    transition: background .2s;
}

.Saved__remove:hover,
.Saved__remove:active {
    background: rgba(0, 0, 0, 0.5);
}

.Saved__removeIcon {
    fill: white;
    width: 2rem;
    height: 2rem;
}

@media screen and (min-width: 744px) and (max-width: 1127px){
    .Saved__item {
        flex: 0 0 calc(50% - 1rem);
        margin: 0 2rem 2rem 0;
    }

    .Saved__content :nth-child(even) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1128px) {
    .Saved__item {
        flex: 0 0 calc(33.333% - 1.333rem);
        margin: 0 2rem 2rem 0;
    }

    .Saved__content :nth-child(3n) {
        margin-right: 0;
    }
    .Saved__imageFrame {
        height: 200px;
    }
}
