.Message {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 1rem 0;
}

.Message__own {
    justify-content: flex-end;
}

.Message__author {
    order: 1;
}

.Message__authorOwn {
    order: 2;
}

.Message__author img {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
}

.Message__authorGuide {
    border: 1px solid #ffffff;
    box-shadow: 0 0 0 2px #4fc877;
}

.Message__text {
    background: #efefef;
    color: rgba(0, 0, 0, 0.65);
    order: 1;
    margin: .5rem;
    border-radius: 1rem 1rem 1rem 4px;
    padding:  1.4rem 2rem;
}

.Message__textOwn {
    background: #31bf71;
    color: white;
    border-radius: 1rem 1rem 4px 1rem;
}

.Message__text p {
    font-size: 1.6rem;
}

.Message__text h4 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: .6rem;
    color: rgba(0, 0, 0, 0.3);
}

.Message__textOwn h4 {
    color: rgba(255, 255, 255, 0.6);
}

.Message__textRemoved {
    background: rgba(200, 35, 80, 0.89);
    color: rgba(255, 255, 255, 0.8);
}

.Message__textRemoved p {
    font-size: 1.4rem;
    font-weight: 700;
}

.Message__textOwnOptimistic {
    background: #e27f2a;
}

.Message__textOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Message__textOptions h4 {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.Message__textOptionsRemoved h4 {
    color: rgba(255, 255, 255, 0.6);
}

.Message__textRemove {
    margin-top: 4px;
    cursor: pointer;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    background: transparent;
    border: none;
    outline: none;
    transition: all .1s;
}

.Message__textRemoveIcon {
    fill: rgba(255, 255, 255, 0.6);
    margin-top: 3px;
    width: 1.6rem;
    height: 1.6rem;
    transition: all .1s;
}

.Message__textRemove:hover .Message__textRemoveIcon,
.Message__textRemove:active .Message__textRemoveIcon {
    fill: rgba(255, 255, 255, 0.8);
}

.Message__textRemove:hover,
.Message__textRemove:active {
    background: rgba(0, 0, 0, 0.05);
}

.Message__photoFrame {
    padding-top: .5rem;
    position: relative;
    width: 100%;
    height: 40rem;
}

.Message__photo {
    border-radius: .5rem;
    width: 100%;
    height: 40rem;
    object-fit: cover;
}