.MessageInput {
    display: flex;
    bottom: 0;
    left: 0;
    align-items: center;
    border-top: rgba(0, 0, 0, 0.14) 1px solid;
    border-bottom: rgba(0, 0, 0, 0.14) 1px solid;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
}

.MessageInput:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
    z-index: -1;
}

.MessageInput > :first-child {
    margin-right: 1rem;
}

.MessageInput__form {
    display: flex;
    align-items: center;
    flex: 1;
}

.MessageInput__input {
    margin-right: 1rem;
    width: 100%;
    outline: none;
    font-weight: 400;
    color: inherit;
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    transition: all .1s ease-in;
}

.MessageInput__input:focus {
    border: 2px solid rgba(0, 0, 0, 0.6);
}

.MessageInput__sendPhoto {
    cursor: pointer;
    padding: .4rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    transition: all .1s ease-in;
}

.MessageInput__sendPhoto:hover {
    background: rgba(0, 0, 0, 0.04);
}

.MessageInput__sendPhotoIcon {
    box-sizing: initial;
    width: 2.6rem;
    height: 2.6rem;
    margin-top: 3px;
    margin-left: 3px;
    fill: rgba(0, 0, 0, 0.6);
    transition: all .1s ease-in;
}

.MessageInput__sendPhoto:hover .MessageInput__sendPhotoIcon,
.MessageInput__sendPhoto:active .MessageInput__sendPhotoIcon {
    transform: scale(.9);
}

.MessageInput__sendIcon {
    backface-visibility: hidden;
    box-sizing: initial;
    width: 2.6rem;
    height: 2.6rem;
    margin-top: 3px;
    fill: rgba(0, 0, 0, 0.6);
    transition: all .1s ease-in;
}


.MessageInput__send {
    cursor: pointer;
    outline: none;
    border: none;
    padding: .4rem .6rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background: white;
    transition: all .1s ease-in;
}

.MessageInput__send:hover {
    background: rgba(0, 0, 0, 0.04);
}

.MessageInput__send:hover .MessageInput__sendIcon,
.MessageInput__send:active .MessageInput__sendIcon {
    transform: scale(.9);
}

/*.MessageInput__sendPhotoPhotoIcon:hover,*/
/*.MessageInput__sendPhotoPhotoIcon:active {*/
/*    padding: .5rem;*/
/*    background: rgba(0, 0, 0, 0.1);*/
/*}*/