.Message {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 1rem 0;
}

.own {
    justify-content: flex-end;
}

.author {
    order: 1;
}

.authorOwn {
    order: 2;
}

.author img {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
}

.authorGuide {
    border: 1px solid #ffffff;
    box-shadow: 0 0 0 2px #4fc877;
}

.text {
    background: #efefef;
    color: rgba(0, 0, 0, 0.65);
    order: 1;
    margin: .5rem;
    border-radius: 1rem 1rem 1rem 4px;
    padding:  1.4rem 2rem;
}

.image {
    padding: 0;
    width: 100%;
}

.textOwn {
    background: #31bf71;
    color: white;
    border-radius: 1rem 1rem 4px 1rem;
}

.text p {
    font-size: 1.6rem;
}

.text h4 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: .6rem;
    color: rgba(0, 0, 0, 0.3);
}

.textOwn h4 {
    color: rgba(255, 255, 255, 0.6);
}

.textRemoved {
    text-align: center;
    background: rgba(200, 35, 80, 0.89);
    color: rgba(255, 255, 255, 0.8);
}

.textRemoved p {
    font-size: 1.4rem;
    font-weight: 700;
}

.textOwnOptimistic {
    background: #e27f2a;
}

.textOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageOptions {
    padding: 1rem;
    margin-top: -.8rem;
}

.textOptions h4 {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.textOptionsRemoved h4 {
    margin-right: 0;
    color: rgba(255, 255, 255, 0.6);
}

.textRemove {
    margin-top: 4px;
    cursor: pointer;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    background: transparent;
    border: none;
    outline: none;
    transition: all .1s;
}

.textRemoveIcon {
    fill: rgba(255, 255, 255, 0.6);
    margin-top: 3px;
    width: 1.6rem;
    height: 1.6rem;
    transition: all .1s;
}

.textRemove:hover .textRemoveIcon,
.textRemove:active .textRemoveIcon {
    fill: rgba(255, 255, 255, 0.8);
}

.textRemove:hover,
.textRemove:active {
    background: rgba(0, 0, 0, 0.05);
}

.photoFrame {
    border-radius: 1rem 1rem 0 0;
    position: relative;
    width: 100%;
    background: #d6d6d6;
    height: 14rem;
    /*min-height: 10rem;*/
    /*background: white;*/
}

.photo {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}