.topSearchAnimation-enter {
    transform: translateY(35%) scale(1.4);
    opacity: 0;
}
.topSearchAnimation-enter-active {
    opacity: 1;
    transform: translateY(0%) scale(1);
    transition: all .2s;
}
.topSearchAnimation-exit {
    transform: translate(15%, 0) scale(1);
}
.topSearchAnimation-exit-active {
    transform: translate(15%, 60%) scale(1.2);
    opacity: 0;
    transition: all .2s;
}