.Topbar {
    font-weight: 500;
    width: 100%;
    position: fixed;
    height: 8rem;
    background: transparent;
    /*top: 0;*/
    z-index: 100;
    margin-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    transition: all .3s;
}

/*.Topbar::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: rgba(255, 255, 255, 0);*/
/*    backdrop-filter: blur(10px);*/
/*    z-index: -1;*/
/*}*/

.relative {
    height: 8rem;
}

.Topbar:before{
    content: "";
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 140%;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
    transition: opacity 0.3s cubic-bezier(0.35, 0, 0.65, 1);
    pointer-events: none;
    z-index: -1;
}

.transparent {
    font-weight: 500;
    width: 100%;
    position: fixed;
    /*top: 0;*/
    z-index: 100;
    transition: all .3s;
}

.transparent:before {
    content: "";
    position: absolute;
    opacity: 0.4;
    top: 0;
    left: 0;
    width: 100%;
    height: 140%;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
    transition: opacity 0.5s cubic-bezier(0.35, 0, 0.65, 1) .3s;
    pointer-events: none;
    z-index: -1;
}

.opaqueHeader {
    background: rgba(255, 255, 255, .9);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.18) 0 1px 2px ;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.logo a::after {
    display: none;
}

.logo img {
    width: 128px;
    height: 37px;
}