.Topbar {
    font-weight: 500;
    background: rgba(255, 255, 255, 0.92);
    width: 100%;
    position: fixed;
    height: 8rem;
    /*top: 0;*/
    z-index: 100;
    margin-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    transition: all .4s;
}

.Topbar::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    z-index: -10;
}

.Topbar__relative {
    height: 8rem;
}

.Topbar__transparent {
    font-weight: 500;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.44), transparent);
    width: 100%;
    position: fixed;
    /*top: 0;*/
    /*backdrop-filter: blur(0);*/
    z-index: 100;
    transition: all .4s;
}

.headerShadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    position: fixed;
}

.Topbar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.Topbar__logo a::after {
    display: none;
}

.Topbar__logo img {
    width: 128px;
    height: 37px;
}