.Topbar {
    font-family: 'CM', -apple-system, sans-serif;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    position: fixed;
    top: 0;
    height: 8rem;
    /*backdrop-filter: blur(10px);*/
    z-index: 100;
    transition: all .3s;
}

.Topbar__blur {
    backdrop-filter: blur(10px);
    width: 100%;
    position: fixed;
    top: 0;
    height: 8rem;
    z-index: 100;
    transition: all .3s;
}

.Topbar__blur__transparent {
    backdrop-filter: blur(0);
}

.Topbar__transparent {
    font-family: 'CM', -apple-system, sans-serif;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.44), transparent);
    width: 100%;
    position: fixed;
    top: 0;
    /*backdrop-filter: blur(0);*/
    z-index: 100;
    transition: all .3s;
}

.headerShadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2)
}

.Topbar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.Topbar__logo {

}

.Topbar__logo img {
    width: 128px;
}