.TourImages {
    /*scroll-snap-type: x mandatory;*/
}

.TourImages__grid {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
}

.TourImages__grid::-webkit-scrollbar {
    display: none;
}

.TourImages__frame {
    scroll-snap-align: center;
    scroll-behavior: smooth;
    position: relative;
    width: 100%;
    min-width: 100%;
    height: 600px;
}

.TourImages__image {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.TourImages__grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .2s;
}

@media screen and (min-width: 744px) {
    .TourImages__frame {
        width: 50%;
        min-width: 50%;
        height: 500px;
    }
}

@media screen and (min-width: 1128px) {
    .TourImages__frame {
        width: 33.333%;
        min-width: 33.333%;
        height: 400px;
    }
}