.TourImages {
}

.TourImages__grid {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.TourImages__frame {
    width: 33.3333%;
    min-width: 33.3333%;
    height: 300px;
}

.TourImages__grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: all .2s;
}

.TourImages__frame:hover img{
    transform: scale(1);
}