.locationBlock {
    position: absolute;
    padding: 2rem 0;
    top: 7.4rem;
    z-index: 2;
    width: 40rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.24);
    background: white;
    border-radius: 3rem;
    /*margin-top: 1rem;*/
    /*position: absolute;*/
    /*bottom: -4rem;*/
    /*left: 0;*/
}

.recent {
    padding: .4rem 5%;
    color: rgba(0, 0, 0, 0.8);
}

.locationLink {
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    text-align: left;
    font-family: inherit;
}

.location {
    display: flex;
    align-items: center;
    background: transparent;
    padding: .8rem 3rem;
}

.locationMobile {
    padding: .8rem 5%;
}

.locationLink:hover .location,
.locationLink:active .location {
    background: rgba(0, 0, 0, 0.04);
}

.iconFrame {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgba(0, 0, 0, 0.06);
    border-radius: .8rem;
    border: 1px solid rgba(0, 0, 0, 0.07);
}

.icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.iconFrame:before {
    content: '';
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(.2rem);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
}

.title {
    margin-left: 1.6rem;
    flex: 1;
}

.title h1 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
}

.title p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}