.content {
    position: relative;
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex: none;
    flex-flow: row nowrap;

    padding: 0 4%;
    /*scroll-padding: 0 2.4rem;*/
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    -webkit-scroll-snap-type: x mandatory;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

/*@media (min-width: 744px) {*/
/*    .content {*/
/*        margin: 0px;*/
/*        overflow: visible;*/
/*        padding: 0px;*/
/*    }*/
/*}*/

.content::-webkit-scrollbar {
    display: none;
}

.tour {
    width: 100%;
    /*scroll-padding: 0 24px;*/
    padding: 0 .5rem;
    scroll-snap-align: center;
    flex: none;
}


.imageFrame {
    width: 100%;
    height: 34rem;
    border-radius: 1.4rem;
    /*overflow: hidden;*/
    position: relative;
    -webkit-mask-image: -webkit-radial-gradient(center, white, black);
}

.image {
    width: 100%;
    height: 34rem;
    object-fit: cover;
    border-radius: 1.4rem;
}

.bottom {
    margin-top: .6rem;
}

.ratingBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    display: flex;
    align-items: center;
}

.rating h2 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: .2rem;
}

.rating h3 {
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
}

.rating p {
    color: rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
}

.price {
    display: flex;
    align-items: center;
}

.price h2 {
    font-weight: 500;
    font-size: 1.4rem;
}

.price h3 {
    font-weight: 400;
    font-size: 1.4rem;
}

.title {
    margin-top: 0;
}

.title h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

.title h2 {
    margin-top: .2rem;
    display: flex;
    align-items: center;
}

.title h2 span {
    font-size: 1.3rem;
    margin-left: .2rem;
    font-weight: 400;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    padding-bottom: .2rem;
    fill: rgba(0, 0, 0, 0.7);
}

.iconRating {
    width: 1.8rem;
    height: 1.8rem;
    fill: #3db062;
    padding-bottom: .3rem;
}

.start {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.95);
    padding: .2rem .6rem;
    border-radius: .5rem;
}

.start h4 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: .2rem;
}

.save {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .5rem .5rem 0 .5rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
}

.iconSave {
    width: 1.8rem;
    height: 1.8rem;
    fill: white;
}

@media (min-width: 744px) and (max-width: 950px) {
    .tour {
        scroll-snap-align: start;
        width: 50%;
        padding: 0 1rem;
    }
    .tour:first-of-type {
        padding: 0 0 0 2rem;
    }
    .imageFrame {
        height: 24rem;
    }
    .image {
        height: 24rem;
    }
}

@media (min-width: 950px) {
    .content {
        margin-top: 2rem;
        flex-flow: initial;
        flex-wrap: wrap;
        padding: 0 5%;
    }
    .tour {
        width: 25%;
        padding: 0;
    }
    .imageFrame {
        height: 19rem;
    }
    .image {
        height: 19rem;
    }
    .content > :nth-child(5n),
    .content > :nth-child(6n),
    .content > :nth-child(7n),
    .content > :nth-child(8n) {
        margin-top: 2rem;
    }

    .tour:nth-child(1),
    .tour:nth-child(2),
    .tour:nth-child(3),
    .tour:nth-child(5),
    .tour:nth-child(6),
    .tour:nth-child(7) {
        padding-right: 1rem;
    }

}