.tourResults {
    padding: 0 2rem 0 7.5%;
    color: rgba(0, 0, 0, 0.8);
}

.tour {
    padding: 2rem 0;
    display: flex;
    position: relative;
    /*align-items: center;*/
}

.tour:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.tour:last-of-type {
    padding-bottom: 0;
}

.tourLinkAbsolute {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.imageFrame {
    width: 34rem;
    height: 20rem;
    border-radius: 1.4rem;
    position: relative;
    -webkit-mask-image: -webkit-radial-gradient(center, white, black);
}

.image {
    width: 34rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 1.4rem;
}

.tourInfo {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding-left: 1.4rem;
}

.top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.locInfo {
    display: flex;
}

.locInfo > :first-child {
    margin-right: 1rem;
}

.title {

}

.titleLink {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.title h1 {
    font-weight: 400;
    font-size: 1.7rem;
}

.distance {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
}

.distance h2,
.distance h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.distance h2 {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.64);
}

.location {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
}

.location h2 {
    font-size: 1.3rem;
    font-weight: 400;
}

.locIcon {
    width: 1.4rem;
    height: 1.4rem;
    fill: rgba(0, 0, 0, 0.5);
    margin-right: .2rem;
}

.saveBig {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: .5rem;
    transition: all .1s;
    z-index: 1;
}

.saveBig:hover,
.saveBig:active {
    background: rgba(0, 0, 0, 0.05);
}

.saveBigIcon {
    width: 2.6rem;
    height: 2.6rem;
    fill: rgb(234, 10, 62);
    transition: all .2s;
}

.saveBig:hover .saveBigIcon,
.saveBig:active .saveBigIcon {
    fill: rgba(0, 0, 0, 0.8);
}

.middle {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.rating {
    display: flex;
    align-items: center;
}

.ratingIcon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #3db062;
    margin-top: -.2rem;
}

.rating h1 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: .2rem;
}

.rating h2 {
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.rating p {
    margin: 4px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.2);
}

.price {
    display: flex;
}

.price h1 {
    font-size: 1.6rem;
    font-weight: 500;
}
.price h2 {
    font-size: 1.5rem;
    font-weight: 400;
    /*color: rgba(0, 0, 0, 0.6);*/
}

.locs {
    margin-top: 3.4rem;
}

.guides {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -2rem;
    margin-right: .2rem;
}

.guideLink {
    transition: all .2s;
    transform: scale(1);
}

.guideLink:hover,
.guideLink:active {
    transform: scale(1.1);
}

.guidePhotoFrame {
    width: 3.2rem;
    height: 2rem;
}

.guidePhoto {
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.14);
    border: 3px solid white;
}

.separator {
    display: initial;
}

@media (max-width: 744px) {
    .separator {
        display: none;
    }
    .tourResults {
        padding: 0 5%
    }
    .tour {
        flex-direction: column;
        padding: 2rem 0 .6rem 0;
    }
    .imageFrame {
        width: 100%;
        height: 24rem;
    }
    .image {
        width: 100%;
        height: 24rem;
    }
    .tourInfo {
        margin-top: 1rem;
        padding-left: 0;
    }
    .distance {
        position: absolute;
        top: 3.2rem;
        left: 1.2rem;
        padding: .6rem 1rem;
        background: rgba(255, 255, 255, 0.94);
        border-radius: .5rem;
    }
    .middle {
        display: none;
    }
    .map {
        display: none;
    }
}

@media (min-width: 745px) and (max-width: 950px) {
    .title h1 {
        font-size: 2.6rem;
    }
    .tour {
        /*padding: 2rem 0 .6rem 0;*/
    }
    .map {
        display: none;
    }
    .tours {
        flex: 1 1 100%;
    }
    .tourResults {
        padding: 0 5%
    }
    .locInfo {
        flex-direction: column;
    }
    .imageFrame {
        width: 30rem;
        height: 22rem;
    }
    .image {
        width: 30rem;
        height: 22rem;
    }
    .title h1 {
        font-size: 1.7rem;
    }
}

@media (max-width: 1128px) and (min-width: 744px) {
    .title h1 {
        font-size: 2.6rem;
    }
    .tour {
        /*padding: 2rem 0 .6rem 0;*/
    }
    .tours {
        flex: 1 1 100%;
    }
    .tourResults {
        padding: 0 5%
    }
    .locInfo {
        flex-direction: column;
    }
    .imageFrame {
        width: 30rem;
        height: 22rem;
    }
    .image {
        width: 30rem;
        height: 22rem;
    }
    .title h1 {
        font-size: 1.7rem;
    }
}