
.ThumbedImage {
    height: 100%;
    width: 100%;
}
.ThumbedImage img {
    transition: all .3s ease-in-out;
}
.original {
    color: transparent;
    background: #eeeeee;
    opacity: 1;
    position: absolute;
}
.hide {
    opacity: 0;
}

.blur {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.14);
    opacity: 1;
    transition: all .3s;
}

.unBlur {
    opacity: 0;
}

.thumb {
    color: transparent;
}