@media screen and (min-width: 744px) {
    .modal-enter {
        transform: translate(-50%, 140%);
        opacity: 0;
    }
    .modal-enter-active {
        transform: translate(-50%, -50%);
        opacity: 1;
        transition: all 400ms;
        transition-delay: 200ms;
    }
    .modal-exit {
        opacity: 1;
    }
    .modal-exit-active {
        opacity: 0;
    }
}

@media screen and (max-width: 743px) {
    .modal-enter {
        transform: translateY(100%);
    }

    .modal-enter-active {
        transform: translateY(0);
        transition: all 200ms;
        transition-delay: 200ms;
    }

    .modal-exit {
        transform: translateY(0);
    }

    .modal-exit-active {
        transform: translateY(100%);
        transition: all 200ms;
    }
}