.Modal {
    background: white;
    width: 44rem;
    border-radius: 14px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 102;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    transition: all;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    padding: 1rem 2rem;
}

.header button {
    /*text-align: center;*/
    color: #9f9f9f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border-radius: 20px;
    outline: 0;
    border: none;
    cursor: pointer;
    transition: all .2s;
    margin-right: -1rem;
}

.header button:hover,
.header button:active {
    background: rgba(0, 0, 0, 0.1);
}

.main {
    padding: 2rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 743px) {
    .Modal {
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        border-radius: 0;
    }
    .main {
        min-height: 86vh;
    }
}