.OnlyAuth {
    color: rgba(0, 0, 0, 0.8);
    padding: 2rem 0;
}

.title {
    font-size: 3rem;
    font-weight: 500;
}

.content {
    text-align: center;
}

@media (min-width: 744px) {
    .content {
        width: 30rem;
        margin: 0 auto;
    }
}

.OnlyAuth a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8);
}

.illustration {
    width: 256px;
    height: 256px;
}

.switchText {
    padding: .7rem;
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block;
}