.bar {
    margin-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.bar {
    height: 12.5rem;
    width: 100%;
    padding-bottom: 6.5rem;
    left: 0;
    right: 0;
    bottom: -6.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.14);
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.08);
    background: rgba(255, 255, 255, 0.85);
    position: fixed;
    display: flex;
    overflow: hidden;
    z-index: 1000;
}

@media all
and (display-mode: standalone)
and (orientation: portrait) {
    .bar {
        bottom: -3.5rem;
    }
}

@media all
and (display-mode: standalone)
and (orientation: landscape) {
    .bar {
        bottom: -5.5rem;
    }
}

.bar:before {
    content: '';
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(1rem);
    z-index: -1;
}

.MobileBar {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    -webkit-align-items: flex-start;
    -webkit-justify-content: center;
    flex: 1 0 auto;
    margin: 0 auto;
    max-width: 560px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tab__active {
    animation: tabChange .2s;
}

@keyframes tabChange {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.tab__active h2 {
    color: #3fbe7c;
}
.tab__active .icon {
    fill: #3fbe7c;
}
.tab__active .photo {
    border: 2px solid #3fbe7c;
}

.MobileBar a,
.MobileBar a:visited {
    width: 20%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.MobileBar a:hover h2 {
    color: #3fbe7c;
}

.MobileBar a:hover .icon {
    fill: #3fbe7c;
}

.MobileBar a:hover .photo {
    border: 2px solid #3fbe7c;
}

.MobileBar h2 {
    font-size: 1rem;
    font-weight: 400;
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    height: 2.4rem;
    width: 2.4rem;
    fill: rgba(0, 0, 0, 0.6);
    margin: .3rem 0;
}

.photo {
    width: 2.6rem;
    height: 2.6rem;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .3rem 0;
}

.photo img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}
