.LoginForm {

}

.LoginForm__relative {
    position: relative;
    margin: 2rem 0;
}

.LoginForm input {
    position: relative;
    padding: 1rem;
    display: block;
    height: 5.5rem;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: none;
    outline: 0;
    font-size: 2rem;
    transition: all .2s;
}

.LoginForm label {

}

.LoginForm input:hover {
    background: #f8f8f8;
}

.LoginForm input:first-of-type {
    border-radius: 10px 10px 0 0;
}

.LoginForm input:last-of-type {
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.LoginForm__options {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.42)
}

.LoginForm__options a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.68);
    transition: all .2s
}

.LoginForm__options a:hover,
.LoginForm__options a:active {
    color: black;
}

/*.LoginForm button {*/
/*    margin-top: 2rem;*/
/*    width: 100%;*/
/*    height: 5.5rem;*/
/*    padding: 1.2rem;*/
/*    font-size: 1.6rem;*/
/*    border-radius: 10px;*/
/*    background: #4fc877;*/
/*    color: white;*/
/*    font-weight: 700;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    transition: all .2s;*/
/*    outline: 0;*/
/*}*/

/*.LoginForm button:hover,*/
/*.LoginForm button:active {*/
/*    background: #57d07f;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);*/
/*}*/