.stuff {
}

.stuff a,
.stuff a:visited {
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    text-decoration: none;
    transition: color .2s;
}
.stuff a:hover,
.stuff a:active {
    color: rgba(0, 0, 0, 0.6);
}

.stuff h1 {
    font-weight: 500;
    font-size: 2rem;
    margin: 1rem 0;
}

.listingSection {
}

.listings {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scrollbar-base-color: rgba(0, 0, 0, 0.17)
}

.listings::-webkit-scrollbar {    display: none;}

.listing {
    padding: .5rem .5rem 0 .5rem;
    margin: 1rem 1rem 1rem 0;
}

.listingImageFrame {
    width: 300px;
    height: 180px;
    background: rgba(0, 0, 0, 0.09);
}

.listingImage {
    width: 300px;
    height: 180px;
    /*object-fit: cover;*/
    border-radius: 5px;
    transition: all .2s;
}

.listingTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}

.listingTitle h2 {
    font-weight: 500;
}

.listingTitleRight {
    display: flex;
    align-self: center;
    font-size: 1.5rem;
}
.listingTitleRight p {
    padding: .1rem;
    color: #9f4c37;
}

.listingTitleRight b {
    font-size: 1.6rem;
    color: #2ea455;
}


.listingInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.36);
    border-radius: 5px;
}

.listingInfo p {
    font-size: 1.3rem;
}
