.Foot {
    padding: 1rem 0;
}

.Foot a,
.Foot a:visited {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    position: relative;
    text-decoration: none;
    font-size: 1.4rem;
    transition: color .2s;
}
.Foot a:hover,
.Foot a:active {
    color: rgba(0, 0, 0, 0.6);
}
.Foot a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    border-radius: 2px;
    width: 0;
    height: 1.5px;
    background: rgba(0, 0, 0, 0.5);
    filter: brightness(1.1);
    transition: width .2s;
}

.Foot a:visited::after,
.Foot a:hover::after {
    width: 100%;
}

.Foot__content {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 3rem 0;
}


.Foot__title {
    padding-bottom: .4rem;
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.3rem;
}
.Foot__col ul li {
    list-style: none;
    padding: .6rem .6rem .6rem 0;
}

.Foot__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding: 2rem 0;
}

.Foot__rules {
    display: flex;
}

.Foot__rules ul {
    list-style: none;
}

.Foot__rules ul li {
    display: inline;
}

.Foot__rules a {
    color: black;
    text-decoration: none;
    transition: all .1s;
}

.Foot__rules a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.Foot__right {
    display: flex;
    justify-content: space-between;
}

.Foot__geo {
    margin: 0 2rem;
}

.Foot__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Foot__socialIcon {
    margin: 0 .5rem;
}