.searchPage {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 1);
    z-index: 199;
    /*backdrop-filter: blur(7px);*/
}

.locDrop {
    width: 100%;
    position: absolute;
}

.searchPlaceholder {
    height: 5.6rem;
    width: 100%;
}

.searchResultButton {
    color: rgba(0, 0, 0, 0.7);
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0 1rem;
    transition: all .1s ease-in-out;
}

.searchResultButton:hover,
.searchResultButton:active {
    background: #f8f8f8;
    color: #4fc877;
}


.locName {
    padding: 1rem;
}

.pin {

}

.pinIcon {
    width: 1.6rem;
    height: 1.6rem;
    fill: #4fc877;
}

.absoluteMap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}