.Random__post {
    position: relative;
    overflow: hidden;
    background: #cccccc;
    border-radius: 18px;
}

.Random__post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Random__info {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(45, 45, 45, 0.9);
    bottom: 0;
    border-radius: 0 0 18px 18px;
    color: white;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(10px);
    box-shadow: 0 -4px 0 rgba(79, 79, 79, 0.7);
    z-index: 1;
}

.Random__info h2 {
    font-size: 1.8rem;
}

.Random__info p {
    font-size: 1.4rem;
}