.userContainer a {
}

.user {
    position: relative;
    margin: 1rem 2rem 1rem 0;
    display: flex;
    align-items: center;
    border-radius: 100px;
    min-width: 36rem;
    max-width: 36rem;
    height: 12rem;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: all .2s;
    cursor: pointer;
}

.user a {
    text-decoration: none;
}

.imageFrame {
    margin-left: 1rem;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 50%;
}

.userImage {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    transform: scale(1.2);
    transition: all .2s;
}

.rating {
    position: absolute;
    background: transparent;
    padding: 1rem;
    width: 8rem;
    height: 8rem;
    right: 0;
    border-radius: 50%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #222222;
}

.rating img {
    width: 16px;
}

.rating h2 {
    color: #3db062;
    font-size: 2rem;
    margin: -.8rem 0 -.4rem
}

.rating p {
    color: #804115;
    font-size: 1.2rem;
    opacity: .8;
}

.userinfo {
    margin-left: .5rem;
}

.userinfoImg {
    box-sizing: initial;
    width: 14px;
    height: 14px;
    fill: #ffffff;
    margin-right: 1rem;
    padding: .2rem;
    background: linear-gradient(to right bottom, #f6600f, #f1d309);
    border-radius: 50%;
}

.userinfo h3 {
    display: flex;
    align-items: center;
    color: #444444;
    font-size: 1.5rem;
    margin-top: -1rem;
    padding: .6rem;
    transition: all .1s;
}

.userinfoDetails {
    margin-top: -.5rem;
    font-size: 1.3rem;
    padding: .2rem .6rem;
}

.user:hover .userinfo h3 {
    color: #555555;
}

.user:hover .userImage {
    transform: scale(1);
}

/*.user:hover  {*/
/*    filter: brightness(1.1);*/
/*}*/

.user:active {
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.14);
}