.block {
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
}

.block:not(:first-of-type) {
    margin-top: 2rem;
}

.date {
    font-size: 1.6rem;
    padding-bottom: .6rem;
    position: relative;
}

.date:after {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 37%;
    margin-left: 1rem;
}

.body {
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: .5rem;
}

.top {
    padding: 1rem 1.2rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.time {
    font-size: 1.5rem;
    font-weight: 400;
}

.price {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
}

.buttonBlock {
}

.bottom {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;

}

.participants {
    display: flex;
}

.participantLink {
    width: 2.6rem;
    height: 2.6rem;
    margin-right: .4rem;
}

.photo {
    width: 2.6rem;
    height: 2.6rem;
    object-fit: cover;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.08);
}

.more {
    backface-visibility: hidden;
    cursor: pointer;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s;
}

.more:hover,
.more:active {
    background: #4fc877;
}

.more:active {
    transform: scale(.9);
}

.moreIcon {
    width: 1.8rem;
    height: 1.8rem;
    fill: rgba(0, 0, 0, 0.7);
    transition: all .2s;
}
.more:hover .moreIcon,
.more:active .moreIcon {
    fill: white;
}

.moreBlock {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.12);
    border-radius: 1rem;
    overflow-y: auto;
    max-width: 20rem;
    max-height: 40vh;
}

.moreBlock:before {
    content: '';
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    position: absolute;
    z-index: -1;
}

.moreHead {
    text-align: center;
    padding: .8rem 3rem;
}

.moreHead h2 {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

.moreParticipants {
    padding: 1rem;
}