.block {
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
}

.block:not(:first-of-type) {
    margin-top: 2rem;
}

.date {
    font-size: 1.6rem;
    padding-bottom: .6rem;
    position: relative;
}

.date:after {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 37%;
    margin-left: 1rem;
}

.body {
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: .5rem;
}

.top {
    padding: 1rem 1.2rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.time {
    font-size: 1.5rem;
    font-weight: 400;
}

.price {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
}

.buttonBlock {
}

.bottom {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;

}

.participants {
    display: flex;
}

.participantLink {
    width: 3rem;
    height: 3rem;
    margin-right: .4rem;
}

.photo {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.08);
}
