.LoginForm {

}

.relative {
    position: relative;
    margin: 2rem 0;
}
.relative :first-child {
    border-radius: 10px 10px 0 0;
}
.relative :last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.LoginForm input {
    position: relative;
    padding: 1rem;
    display: block;
    height: 5.5rem;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: none;
    outline: 0;
    font-size: 2rem;
    -webkit-appearance: none;
    font-family: inherit;
    transition: all .2s;
}

.LoginForm label {

}

.LoginForm input:hover {
    background: #f8f8f8;
}

.options {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.42)
}

.options a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.68);
    transition: all .2s
}

.options a:hover,
.options a:active {
    color: black;
}