.StyledButton {
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    line-height: 16px;
    font-weight: 600;
    padding: 1.5rem 2.2rem;
    color: rgb(255, 255, 255);
    width: 100%;
    text-decoration: none;
    border-radius: 8px;
    overflow: hidden;
    outline: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: linear-gradient(
            to right,
            #3ac87f 0%,
            #4fc877 50%,
            #5ddd9a 100%
            /*rgb(230, 30, 77) 0%,*/
            /*rgb(227, 28, 95) 50%,*/
            /*rgb(215, 4, 102) 100%*/
    );
}

.StyledButton:hover {
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: linear-gradient(
            to right,
            #3ac87f 0%,
            #4fc877 50%,
            #5ddd9a 100%
    );
}

.StyledButton:active {
    transform: scale(0.96);
    border: none;
    background: #4fc877;
    color: #ffffff;
}

.rounded {
    border-radius: 3rem;
    -webkit-mask-image: -webkit-radial-gradient(center, white, black);
}

.rounded:hover {
    border-radius: 3rem;
}

.round {
    border-radius: 3rem;
    width: 4.7rem;
    -webkit-mask-image: -webkit-radial-gradient(center, white, black);
}

.round:hover {
    border-radius: 3rem;
}

.effectContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-mask-image: -webkit-radial-gradient(center, white, black);
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.effect {
    display: block;
    width: 100%;
    height: 100%;
    min-width: 200px;
    background-size: 200% 200%;
    opacity: 0;
    background-image: radial-gradient(
            circle at center center,
            #49d76c 0%,
            #38d25f 8%,
            #2ec872 27.5%,
            #32c368 40%,
            #2dba78 57.5%,
            #28b56d 75%,
            #28b779 100%
    );
    transition: opacity 1.25s ease 0s;
}

.effect:hover {
    opacity: 1;
}

.effect:active {
    transition: -ms-transform 2s, -webkit-transform 2s, transform 2s,
    opacity 2s;
    opacity: 0;
    transform: scale(5);
}

.text {
    display: flex;
    position: relative;
    pointer-events: none;
    justify-content: center;
}

.text svg {
    margin-right: .4rem;
}


.StyledButton:disabled ,
.StyledButton:disabled:hover ,
.StyledButton:disabled:active  {
    background: #7e9f87;
}


.StyledButton:disabled .effect:hover {
    opacity: 0;
}