.Reviews {
    color: rgba(0, 0, 0, 0.76);
}

.Reviews p {
    color: rgba(0, 0, 0, 0.76);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.Reviews a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.76);
    transition: all .2s;
}


.Reviews h2 {
    font-size: 2.4rem;
}

.Reviews a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.info {
    display: flex;
    align-items: center;
}

.rating {
    color: #20a74d;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.rating h3 {
    margin-top: .2rem;
    margin-left: .5rem;
}

.quantity h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.content {

}

.review {
    padding: 2rem 0;
    border-bottom: 1rem solid rgba(0, 0, 0, 0.06);
}

.reviewInfo {
    display: flex;
    align-items: center;
}


.reviewInfo img {
    margin-right: 1.2rem;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.reviewer h3 {
    font-size: 1.5rem;
}

.reviewer h4 {
    font-size: 1.3rem;
    font-weight: 400;
}

.more {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}

@media (min-width: 744px) {
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .review {
        flex-basis: 48%;
    }
    .more {
        margin: 4rem auto 0 auto;
    }
}