.Inbox {
    color: rgba(0, 0, 0, 0.8);
    margin-top: 2rem;
    min-height: 40rem;
}

.Inbox a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.Inbox__title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}