.Popular {
    margin: 4rem 0;
    color: rgba(0, 0, 0, 0.7);
}

.Popular a,
.Popular a:visited {
    font-size: 1.3rem;
    color: black;
}

.Popular a:hover,
.Popular a:active {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.8);
}

.Popular a::after {
    display: none;
}

.Popular__content {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    scrollbar-base-color: rgba(0, 0, 0, 0.17);
}

.Popular__content::-webkit-scrollbar {
    display: none;
}
