.Popular {
    margin: 4rem 0;
    color: rgba(0, 0, 0, 0.7);

}

.Popular a,
.Popular a:visited {
    font-size: 1.3rem;
    color: black;
}

.Popular a:hover,
.Popular a:active {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.8);
}

.Popular a::after {
    display: none;
}

.content {
    display: flex;
    position: relative;
    align-items: center;
    scrollbar-base-color: rgba(0, 0, 0, 0.17);
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-padding: 0 24px;
    -webkit-scroll-snap-type: x mandatory;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.content::-webkit-scrollbar {
    display: none;
}
