.PopularItemLoading__itemcontainer {
    padding: 1rem .6rem;
    scroll-snap-align: start;
    min-width: 94%;
}

.PopularItemLoading__tour {
    position: relative;
    height: 41rem;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.06);
}

@media screen and (min-width: 744px) {
    .PopularItemLoading__itemcontainer {
        min-width: 49%;
    }
}

@media screen and (min-width: 1128px) {
    .PopularItemLoading__itemcontainer {
        min-width: 32%;
    }
}