.main {
    color: rgba(0, 0, 0, 0.8);
}

.bookingCenter {
    font-size: 1.8rem;
    color: #4fc877;
}

.content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
}

.conv {
    padding: 3rem 2rem;
}

.convHead {
    margin-bottom: 2rem;
}

.convHead h1 {
    font-size: 1.6rem;
    font-weight: 500;
}

.convHead h2 {
    font-size: 1.3rem;
    font-weight: 100;
}


.tour {
    order: 1;
}

.details {
    position: relative;
}

.imageFrame {
    width: 100%;
    height: 20rem;
    border-radius: 3px 3px 0 0;
}

.gradient {
    border-radius: 3px 3px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #4fc877;
    opacity: 80%;
}

.image {
    border-radius: 3px 3px 0 0;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.info {
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    padding: 2rem;
}

.nameFrame {

}

.name {
    font-size: 2.4rem;
    font-weight: 500;
}


.loc p {
    color: white;
    transition: all .3s;
}

.loc:hover p,
.loc:active p {
    color: #4fc877;
}


.rating {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.participation {
    padding: 1rem;
}

.date {

}

.date p {
    font-size: 1.5rem;
}

.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.datePrice {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeIcon {
    display: flex;
    align-items: center;
}

.datePriceIcon {
    display: flex;
    align-items: center;
}

.icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: rgba(0, 0, 0, 0.62);
}

.participants {
    display: flex;
    align-items: center;
}

.members {
    display: flex;
    align-items: center;
}

.members > :not(:last-child) {
    margin-right: .4rem;
}

.addGuest {
    display: flex;
    padding: .3rem;
    border-radius: 3rem;
    margin-top: .3rem;
    margin-right: .4rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.addGuest > :not(:last-child) {
    margin-right: .4rem;
}

.joined {
    font-size: 1.6rem;
    margin: 1rem 0;
}

.inviteNote {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 100;
}

.user {
    margin-top: .1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
}


.invite {
    backface-visibility: hidden;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .1rem;
    transition: all .1s;
}

.invite:hover,
.invite:active {
    background: #4fc877;
}

.invite:active {
    transform: scale(.9);
}

.inviteIcon {
    width: 2.4rem;
    height: 2.4rem;
    fill: rgba(0, 0, 0, 0.6);
    transition: all .2s;
}
.invite:hover .inviteIcon,
.invite:active .inviteIcon {
    fill: white;
}

.inviteBlock {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.12);
    border-radius: 1rem;
    overflow-y: auto;
    max-width: 20rem;
    max-height: 40vh;
}

.inviteBlock:before {
    content: '';
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    position: absolute;
    z-index: -1;
}

.inviteHead {
    text-align: center;
    padding: .8rem 3rem;
}

.inviteHead h2 {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

.payment {
    width: 100%;
}

.payButton {
    margin: 0 auto;
    width: 20rem;
    padding-bottom: 3rem;
}

.payIcon {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: .4rem;
    margin-top: .2rem;
}

.cancellation {
    font-size: 1.5rem;
    padding-left: 1rem;
    border-left: 4px solid #3db062;
}

.cancellation h3 {
    color: #3db062;
}

.policy {
    margin-top: 2rem;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.6);
}

.bottomInfos {
    padding: 2rem;
}

@media (min-width: 744px) {
    .content {
        flex-direction: row-reverse;
    }
    .main {
        color: rgba(0, 0, 0, 0.8);
        width: 90%;
        margin: 0 auto;
    }
    .tour {
        order: unset;
        padding: 2rem;
        border-radius: .5rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        flex: 0 0 40%;
    }
    .conv {
        padding: 2rem 0;
        flex: 0 0 55%;
    }
    .payment {
        width: 50%;
    }
}

@media (min-width: 744px) and (max-width: 928px) {
    .tour {
        padding: 1rem;
    }
}