.participants {
    display: flex;
    align-items: center;
}

.members {
    display: flex;
    align-items: center;
}

.members > :not(:last-child) {
    margin-right: .4rem;
}

.addGuest {
    display: flex;
    padding: .3rem;
    border-radius: 3rem;
    margin-top: .3rem;
    margin-right: .4rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.addGuest > :not(:last-child) {
    margin-right: .4rem;
}

.user {
    margin-top: .1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
}


.invite {
    backface-visibility: hidden;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .1rem;
    transition: all .1s;
}

.invite:hover,
.invite:active {
    background: #4fc877;
}

.invite:active {
    transform: scale(.9);
}

.inviteIcon {
    width: 2.4rem;
    height: 2.4rem;
    fill: rgba(0, 0, 0, 0.6);
    transition: all .2s;
}
.invite:hover .inviteIcon,
.invite:active .inviteIcon {
    fill: white;
}

.inviteBlock {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.12);
    border-radius: 1rem;
    overflow-y: auto;
    max-width: 20rem;
    max-height: 40vh;
}

.inviteBlock:before {
    content: '';
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    position: absolute;
    z-index: -1;
}

.inviteHead {
    text-align: center;
    padding: .8rem 3rem;
}

.inviteHead h2 {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}