.Separator {
    width: 100%;
    border: .05rem solid rgba(0, 0, 0, 0.14);
}

.Separator__vertical {
    width: 0;
    height: 100%;
    border: .05rem solid rgba(0, 0, 0, 0.14);
}

.light {
    border: .05rem solid rgba(0, 0, 0, 0.06);
}

.middle {
    border: .05rem solid rgba(0, 0, 0, 0.12);
}

.normal {
    border: .05rem solid rgba(0, 0, 0, 0.08);
}

.dark {
    border: .05rem solid rgba(0, 0, 0, 0.2);
}

.primary {
    border: .05rem solid #4fc877;
}