.Random {
    background: black;
    color: white;
    padding: 8rem 0;
    margin: 2rem 0;
    position: relative;
}

.Random__top {
    margin-top: -2rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Random__title {
    width: 40%;
}
.Random__title h2 {
    font-weight: 700;
    font-size: 3.4rem;
}
.Random__title p {
    font-weight: 100;
    font-size: 1.5rem;
}

.Random__button button {
    margin: -4rem .4rem 0 0;
    background: black;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 1.6rem;
    border-radius: 10px;
    border: 1px solid white;
    transition: all .2s;
    cursor: pointer;
}

.Random__button button:hover {
    background: white;
    color: black;
}

.Random__grid {
    display: grid;
    grid-template-rows: repeat(2, 21.9vw);
    grid-template-columns: repeat(4, 21.9vw);
    grid-gap: 1.2rem;
    justify-content: center;
}
.Random__grid :first-child {
    grid-area: 1 / 1 / 3 / 3;
}
.Random__grid :nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
}
.Random__grid :nth-child(3) {
    grid-area: 1 / 4 / 2 / 5;
}
.Random__grid :last-child {
    grid-area: 2 / 3 / 3 / 5;
}