.Discover {
    padding: 6rem 0;
    background-color: #000000;
}

.Discover__top {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 24px;
}

@media (min-width: 1128px) {
    .Discover__top {
        margin-bottom: 32px;
    }
}

.Discover__description {
    -webkit-flex: auto;
    -ms-flex: 1 1 auto;
    flex: auto;
}

.Discover__titleBox {
    color: inherit;
    font-size: 1em;
    font-weight: inherit;
    line-height: inherit;
    margin: 0px;
    padding: 0px;
}

.Discover__title {
    font-size:22px;
    line-height:26px;
    color:#FFFFFF;
    font-weight:600;
}
@media (min-width: 744px){
    .Discover__title{font-size:26px;
        line-height:30px;
        font-weight:700;
    }
}
@media (min-width: 1128px){
    .Discover__title{font-size:32px;
        line-height:36px;
    }
}

.Discover__text{font-size:16px;
    line-height:20px;
    color:#FFFFFF;
    margin-top:4px;
}
@media (min-width: 744px){
    .Discover__text {
        width:440px;
    }
}

@media (min-width: 950px){
    .Discover__text {
        width:460px;
    }
}

.Discover__mobileLink {
    padding-left:24px;
    padding-top:32px;
}

@media (min-width: 744px){
    .Discover__mobileLink {
        display:none;
    }
}

.Discover__link{
    display:none;
    -webkit-flex:none;
    -ms-flex:0 0 auto;
    flex:none;
}
@media (min-width: 744px){
    .Discover__link{
        display:block;
    }
}

.Discover__mobileLink a,
.Discover__link a {
    margin: -4rem .4rem 0 0;
    background: black;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 1.6rem;
    border-radius: 10px;
    border: 1px solid white;
    transition: all .2s;
    cursor: pointer;
    text-decoration: none;
}
.Discover__link a:hover,
.Discover__link a:active,
.Discover__mobileLink a:hover,
.Discover__mobileLink a:active {
    background: white;
    color: black;
}

.Discover__gridParent {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 24px;
    scroll-padding: 0 24px;
    -webkit-scroll-snap-type: x mandatory;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.Discover__gridParent::-webkit-scrollbar {
    display: none;
}

@media (min-width: 744px) {
    .Discover__gridParent {
        margin: 0px;
        overflow: visible;
        padding: 0px;
    }
}


.Discover__grid {
    -ms-grid-rows: 1fr;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    grid-template-rows: 1fr;
    margin: -6px;
}



@media (min-width: 744px){
    .Discover__grid{
        -ms-grid-rows:1fr 1fr;
        -ms-grid-columns:2fr 1fr;
        display:-ms-grid;

        display:grid;
        grid-template-columns:2fr 1fr;
        grid-template-rows:1fr 1fr;
        margin:-8px;
    }

    .Discover__grid:nth-child(n) > :nth-child(1){
        -ms-grid-column:1;
        grid-column:1;
        -ms-grid-row:1;
        grid-row:1 / span 2;
        -ms-grid-row-span:2;
    }

    .Discover__grid:nth-child(n) > :nth-child(2){
        -ms-grid-column:2;
        grid-column:2;
        -ms-grid-row:1;
        grid-row:1;
    }

    .Discover__grid:nth-child(n) > :nth-child(3){
        -ms-grid-column:2;
        grid-column:2;
        -ms-grid-row:2;
        grid-row:2;
    }

    .Discover__grid:nth-child(n) > :nth-child(n + 4){
        display:none;
    }
}

@media (min-width: 1128px){
    .Discover__grid{
        -ms-grid-rows:1fr 1fr;
        -ms-grid-columns:2fr 1fr 1fr;
        grid-template-columns:2fr 1fr 1fr;
        grid-template-rows:1fr 1fr;
    }
    .Discover__grid:nth-child(n) > :nth-child(3){
        -ms-grid-column:3;
        grid-column:3;
        -ms-grid-row:1;
        grid-row:1;
    }
    .Discover__grid:nth-child(n) > :nth-child(4){
        display:block;
        -ms-grid-column:2;
        grid-column:2 / span 2;
        -ms-grid-row:2;
        grid-row:2;
        -ms-grid-column-span:2;
    }
}

.Discover__imageBetween {
    position: relative;
    padding-top: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

@media (min-width: 1128px){
    .Discover__grid:nth-child(n) > :nth-child(4) .Discover__imageBetween {
        padding-top: 50%;
    }
}