.title {
    margin-bottom: 1rem;
}

.title h1 {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 3rem;
    color: rgba(0, 0, 0, 0.8);
}

.title h4 {
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}

.recommended {
    margin-top: 3rem;
}

.result {
    display: flex;
}

.map {
    flex: 1 1 30%;
}

.mapFrame {
    position: sticky;
    top: 8rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.08);
    height: calc(100vh - 8rem);
}

.tours {
    flex: 1 1 70%;
    position: relative;
}

.info {
    margin-bottom: 3rem;
    text-align: center;
}

.info p {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 745px) {
    .map {
        display: none;
    }
    .tours {
        flex: 1 1 100%;
    }
}

@media (min-width: 744px) and (max-width: 950px) {
    .title h1 {
        font-size: 2.6rem;
    }
    .map {
        display: none;
    }
    .tours {
        flex: 1 1 100%;
    }
}

@media (min-width: 950px) {
    .title h1 {
        font-size: 2.6rem;
    }
}