.title {
    margin-bottom: 1rem;
}

.title h1 {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 3rem;
    color: rgba(0, 0, 0, 0.8);
}

.title h4 {
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}

.recommended {
    margin-top: 3rem;
}

.result {
    display: flex;
}

.map {
    flex: 1 1 30%;
    border: 1px solid;
}

.tours {
    flex: 1 1 70%;
}

.paginate {
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nextButton {
    cursor: pointer;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18);
    background: transparent;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    margin: 0 .5rem;
}

.nextButton:hover,
.nextButton:active {
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 6px 16px rgba(0, 0, 0, 0.12);
}

.nextIcon {
    width: 2.6rem;
    height: 2.6rem;
    fill: rgba(0, 0, 0, 0.8);
}

.page {
    cursor: pointer;
    font-size: 1.6rem;
    margin: 0 .5rem;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    outline: none;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}

.info {
    margin-bottom: 3rem;
    text-align: center;
}

.info p {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 745px) {
    .map {
        display: none;
    }
    .tours {
        flex: 1 1 100%;
    }
}

@media (min-width: 744px) and (max-width: 950px) {
    .title h1 {
        font-size: 2.6rem;
    }
    .map {
        display: none;
    }
    .tours {
        flex: 1 1 100%;
    }
}

@media (min-width: 950px) {
    .title h1 {
        font-size: 2.6rem;
    }
}