@font-face {
  font-family: 'EtoursFont';
  src: url('assets/fonts/entours-black.woff2') format('woff2'),
  url('assets/fonts/entours-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'EtoursFont';
  src: url('assets/fonts/entours-bold.woff2') format('woff2'),
  url('assets/fonts/entours-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'EtoursFont';
  src: url('assets/fonts/entours-medium.woff2') format('woff2'),
  url('assets/fonts/entours-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'EtoursFont';
  src: url('assets/fonts/entours-book.woff2') format('woff2'),
  url('assets/fonts/entours-book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'EtoursFont';
  src: url('assets/fonts/entours-light.woff2') format('woff2'),
  url('assets/fonts/entours-light.woff') format('woff');
  font-weight: 200;
  font-style: normal;

}


*,
*::before,
*::after
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'EtoursFont', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.row {
  width: 90%;
  max-width: 180rem;
  margin: 0 auto;
}

.globalA,
.globalA:visited {
  color: rgb(0, 138, 80);
  position: relative;
  text-decoration: none;
  font-size: 1.6rem;
  transition: color .2s;
}
.globalA:hover,
.globalA:active {
  color: rgb(7, 171, 102);
}
.globalA::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  border-radius: 2px;
  width: 0;
  height: 1px;
  background: rgb(7, 171, 102);
  filter: brightness(1.1);
  transition: width .2s;
}

.globalA:visited::after,
.globalA:hover::after {
  width: 100%;
}

