@font-face {
  font-family: 'CE';
  src: url('./fonts/airbnbcereal-black-webfont.woff2') format('woff2'),
  url('./fonts/airbnbcereal-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'CB';
  src: url('./fonts/airbnbcereal-bold-webfont.woff2') format('woff2'),
  url('./fonts/airbnbcereal-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CN';
  src: url('./fonts/airbnbcereal-book-webfont.woff2') format('woff2'),
  url('./fonts/airbnbcereal-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CL';
  src: url('./fonts/airbnbcereal-light-webfont.woff2') format('woff2'),
  url('./fonts/airbnbcereal-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;

}

@font-face {
  font-family: 'CM';
  src: url('./fonts/airbnbcereal-medium-webfont.woff2') format('woff2'),
  url('./fonts/airbnbcereal-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

*,
*::before,
*::after
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'CN', -apple-system, sans-serif;
  box-sizing: border-box;
}

.row {
  width: 90%;
  max-width: 180rem;
  margin: 0 auto;
}