.PopDown {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px);
    z-index: 99;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.14);
    transition: all .2s;
    color: rgba(0, 0, 0, 0.75);
}

.hide {
    transform: translateY(100%);
}

.PopDown__content {
    color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PopDown__user {
    font-weight: 700;
    display: flex;
    align-items: center;
    border-radius: 24px;
}

.PopDown__user img {
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 3px;
}

.PopDown__user h3 {
    font-size: 1.4rem;
    margin-left: 5px;
    font-weight: 700;
}

.PopDown__rating {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.PopDown__rating b {
    font-size: 1.4rem;
    color: #118d3a;
}

.PopDown__purchase {
    display: flex;
    align-items: center;
}

.PopDown__purchase h2 {
    margin-right: 2rem;
}

.PopDown__purchase button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
    background: #4fc877;
    flex: 1 0 0;
}


@media screen and (max-width: 743px) {
    .PopDown {
        height: 12rem;
        padding-bottom: 6rem;
        transition: all .4s;
        margin-bottom: env(safe-area-inset-bottom);
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
    }
    .PopDown__user {
        display: none;
    }
    .PopDown__purchase h2 {
        display: none;
    }
    .PopDown__userMobile {
        display: flex;
        flex-direction: column;
    }
    .PopDown__userMobile__title h3 {
        font-size: 1.3rem;
        font-weight: 400;
    }
    .PopDown__userMobile__title {
        display: flex;
        align-items: center;
    }
    .PopDown__userMobile__title b {
        font-size: 1.4rem;
        color: #118d3a;
    }
    .PopDown__userMobile__title p {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 744px) {
    .PopDown__userMobile__title {
        display: none;
    }

    .PopDown__userMobile {
        display: none;
    }
}


@media all
and (display-mode: standalone)
and (orientation: portrait) {
    .PopDown {
        height: 15rem;
        padding-bottom: 9rem;
    }
}

@media all
and (display-mode: standalone)
and (orientation: landscape) {
    .PopDown {
        height: 13rem;
        padding-bottom: 7rem;
    }
}