.coverImage {
    outline: none;
    border: none;
    width: 100%;
    padding-bottom: 65%;
    position: relative;
    background: transparent;
    height: 0.01px;
    overflow: hidden;
}

.coverImage:before {
    content: '';
    width: 96.8%;
    height: 95.4%;
    left: 1.6%;
    top: 2.3%;
    background: #ffffff;
    overflow: hidden;
    border-radius: .7rem;
    position: absolute;
    /*z-index: 1;*/
}

.coverImageFrame {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #3db062;
    overflow: hidden;
    padding: .6rem;
    border-radius: 1rem;
    transition: all .2s;
    /*-webkit-mask-image: -webkit-radial-gradient(center, white, black);*/
    /*z-index: 2;*/
    /*overflow: hidden;*/
}

.coverImageFrameActive {
    background: #eeeeee;
    border: 1px solid #eeeeee;
}

.coverImagePreview {
    border-radius: .6rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s;
}

.coverDragPlaceHolder {
    backface-visibility: hidden;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border-radius: 1rem;
    transition: all .2s;
}

.coverDragPlaceHolder h2 {
    backface-visibility: hidden;
    animation: animateUpload 1s;
    color: #64be81;
}
.coverDragIcon {
    backface-visibility: hidden;
    width: 6rem;
    height: 6rem;
    fill: #64be81;
    animation: animateUploadIconHover .7s .6s;
}

.coverDragPlaceHolderActive {
    background: transparent;
}

.coverDragPlaceHolderActive .coverDragIcon {
    animation: animateUploadIconHover .7s infinite;
}

.coverDragIconActive {
    animation: animateUploadIconHover .7s infinite;
}

@keyframes animateUpload {
    0% {
        opacity: 0;
        transform: scale(1.2) translateY(100%);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0%);
    }
}

@keyframes animateUploadIconHover {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}