.TopSearch {
    min-width: 0;
    padding: 0 2.4rem;
    /*text-align: center;*/
}

.block {
    align-items: center;
    display: inline-flex;
    height: 4.8rem;
    max-width: 100%;
    min-width: 30rem;
    position: relative;
    /*background-color: rgba(255, 255, 255, 0.9);*/
    background: transparent;
    color: rgb(34, 34, 34);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10rem;
    transition: all 0.2s ease 0s;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);*/
    overflow: hidden;
}

.block:hover,
.block:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.blockBlur {
    border: 1px solid rgba(255, 255, 255, 0.14);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.blockBlur:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(.7rem);
    border-radius: 10rem;
    z-index: -1;
}

.blockBlur:hover,
.blockBlur:active {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}


.button {
    padding-left: .8rem;
    appearance: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-family: inherit;
    border: none;
    border-radius: 10rem;
    outline: none;
    background: transparent;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.74);
}

.text {
    flex: 1 1 auto;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 0 1.6rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.iconFrame {
    width: 3.2rem;
    height: 3.2rem;
    background: #52cd6d;
    border-radius: 50%;
    flex: 0 0 3.2rem;
    margin: .7rem .7rem .7rem 0;
    padding: .7rem;
}

.icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: white;
}

@media (min-width: 744px) and (max-width: 950px) {
    .TopSearch {
        flex: 1 1 auto;
    }
}