.stuff {
}

.stuff h1 {
    font-weight: 500;
    font-size: 2rem;
    margin: 1rem 0;
}

.reviews {

}

.more {
    display: flex;
    justify-content: center;
    margin: 3rem auto 0 auto;
}

.more p {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 744px) {
    .more {
        margin: 4rem auto 0 auto;
        justify-content: flex-start;
    }
}

.loading {
    left: 0;
    top: 0;
    right: 0;
    bottom: 50%;
    position: absolute;
}