.MainHead {
    background-image: url('../../../assets/img/mainMobC.jpg');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 55.1rem;
    position: relative;
    color: white;
}

.SearchHead {
    height: 20rem;
}

.searchTitle {
    position: absolute;
    bottom: 2rem;
}

.searchTitle h1 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.4rem;
}

.searchTitle h4 {
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 745px) {
    .searchTitle h1 {
        text-shadow: 0 0 10px black;
    }
    .searchTitle h4 {
        text-shadow: 0 0 2px black;
    }
}

.headCall {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 10%;
    text-align: center;
    left: 0;
    top: 20%;
    background: rgba(0, 0, 0, 0.07);
}

.title h1 {
    font-size: 2.6rem;
    line-height: 3.rem;
    width: 27rem;
    text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.2);
}

.description {
    margin-top: 1rem;
    width: 60%;
}

.description h4 {
    font-weight: 400;
    font-size: 1.4rem;
    text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.2);
}

.button {
    margin-top: 1rem;
}

.button button {
    cursor: pointer;
    font-family: inherit;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: .8rem 2rem;
    color: rgba(0, 0, 0, 0.8);
    background: white;
    border-radius: .8rem;
    transition: background .1s;
}

.button button:hover,
.button button:active {
    background: #efefef;
}

@media (min-width: 744px) and (max-width: 950px) {
    .MainHead {
        background-image: url('../../../assets/img/main_tab.jpg');
        background-size: cover;
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .SearchHead {
        height: 20rem;
        background-position: bottom;
    }
    .searchTitle {
    position: absolute;
    bottom: 4rem;
    }
    .headCall {
        align-items: flex-start;
        text-align: left;
        top: 50%;
        background: none;
        width: 50%;
        padding: 2rem 5%;
    }
    .title h1 {
        font-size: 3rem;
        line-height: 3.8rem;
        width: unset;
        text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.1);
    }
    .description {
        width: unset;
    }
    .button {
        margin-top: 2rem;
    }
}

@media (min-width: 951px){
    .MainHead {
        background-image: url('../../../assets/img/main.jpg');
        background-size: cover;
        width: 100%;
        height: 55.1rem;
        position: relative;
    }
    .SearchHead {
        height: 20rem;
        background-position: 0 68%;
    }
    .searchTitle {
    position: absolute;
    bottom: 4rem;
    }
    .headCall {
        top: 35%;
        align-items: flex-start;
        text-align: left;
        background: rgba(0, 0, 0, 0.05);
        background: none;
        width: 50%;
        padding: 2rem 5%;
    }
    .title h1 {
        font-size: 3.2rem;
        line-height: 4rem;
        width: unset;
        text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.1);
    }
    .button {
        margin-top: 2rem;
    }
}