.UserPage {
    color: rgba(0, 0, 0, 0.7);
    min-height: 80vh;
}

.content {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile {
    border: none;
    padding-bottom: 2rem;
    width: 100%;
    align-self: flex-start;
}

@media screen and (min-width: 744px){
    .content {
        padding: 4rem 0;
    }

    .profile {
        border: 1px solid rgba(0, 0, 0, 0.14);
        padding: 2rem;
        width: 100%;
        align-self: flex-start;
    }

}

.profile a,
.profile a:visited {
    color: rgb(0, 138, 80);
    position: relative;
    text-decoration: none;
    font-size: 1.6rem;
    transition: color .2s;
}
.profile a:hover,
.profile a:active {
    color: rgb(7, 171, 102);
}
.profile a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    border-radius: 2px;
    width: 0;
    height: 2px;
    background: rgb(7, 171, 102);
    filter: brightness(1.1);
    transition: width .2s;
}

.profile a:visited::after,
.profile a:hover::after {
    width: 100%;
}

.profile h2 {
    font-weight: 400;
    margin: 0 0 .5rem 0;
    font-size: 3rem;
}
.profileTop h2 {
    font-weight: 500;
    margin: 0 0 .5rem 0;
    font-size: 1.6rem;
}

.photoFrame {
    margin-top: 1rem;
    width: 14rem;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #4fc877;
}

.photo {
    width: 12.6rem;
    height: 12.6rem;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    transform: scale(1);
    transition: all .2s;
}

.profile:hover .photo img {
    transform: scale(1.1);
}

.profile a {
    font-weight: 500;
    margin: 1rem 0 0 0;
    font-size: 1.5rem;
}

.profile p {
    font-size: 1.4rem;
    margin: 1rem 0 0 0;
    line-height: 2rem;
}

.profile h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.stats h3 {
    display: flex;
    align-items: center;
}

.profileTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more {
    width: 100%;
}
@media screen and (min-width: 743px) {
    .content {
        flex-direction: row;
    }
    .profile {
        width: 28%;
        max-width: 300px;
    }
    .more {
        margin-left: 4rem;
        width: 70%;
    }
}

.Justicon__star {
    margin-right: .4rem;
    width: 1.6rem;
    height: 1.6rem;
    fill: #fff;
    padding: .2rem;
    background: #4fc877;
    border-radius: 50%;
}


.Justicon__globe {
    margin-right: .4rem;
    width: 1.6rem;
    height: 1.6rem;
    fill: #fff;
    padding: .2rem;
    background: #097fd7;
    border-radius: 50%;
}