.Popular {
    margin: 4rem 0;
}

.Popular__content {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    scrollbar-base-color: rgba(0, 0, 0, 0.17)
}

.Popular__content::-webkit-scrollbar {    display: none;}
